@charset 'utf-8';

/*
*  description: 全局样式 
*  author: duanliang
*  update-time: 2017-06-17
*/


/*reset start*/

html,
body {
    width: 100%;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
th,
td,
hr,
button,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Microsoft Yahei';
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    width: 100%;
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.color-333 {
    color: #333;
}

.color-666 {
    color: #666;
}

.color-999 {
    color: #999;
}


/*reset end*/