@charset 'utf-8';

/*
*  description: 全局样式 
*  author: duanliang
*  update-time: 2017-3-12
*/


/*reset start*/

$width: 1200px;
$auto: 0 auto;
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    border: none;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


/*reset end*/