@charset "UTF-8";

/*
*  description: index
*  author:
*  update-time: 
*/

.index-box {
    border: 1px solid #000;
    font-size: 16px;
    color: #444;
    width: 1200px;
    margin: 20px auto;
}

.flex {
    display: flex;
}